JWT_SECRET=
FRONTEND_URL=
PORT=4000
JWT_ACCESS_EXPIRES_IN=

MAIL_HOST=
MAIL_PORT=
MAIL_USER=
MAIL_PASSWORD=
MAIL_FROM=
MAIL_FROM_NAME="Collab App"

DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

BULL_HOST=localhost
BULL_PORT=6379

REDIS_HOST=
REDIS_PORT=