JWT_SECRET=
FRONTEND_URL=
PORT=4000
JWT_ACCESS_EXPIRES_IN=

MAIL_HOST=
MAIL_PORT=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_NAME=
MAIL_FROM_ADDRESS=

DB_TYPE=
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=

BULL_HOST=localhost
BULL_PORT=6379
BULLBOARD_PASSWORD=

REDIS_HOST=
REDIS_PORT=

BACKEND_URL=
